@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  html,
  body {
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    color: #121212;
    @apply bg-indigo-50;
    @apply custom-scrollbar;
    font-size: 1rem;
  }
  svg {
    display: inline;
  }
  #root {
    min-height: 100vh;
  }
  textarea,
  input,
  button {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    background: none;
    border: 0;
    border-style: solid;
    border-radius: 0;
    box-shadow: none;
    outline: none;
  }

  button {
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
}

@layer components {
  .text-error {
    @apply text-red-500 dark:text-red-400;
  }

  .bg {
    /* background: linear-gradient(to right, #8e54e9, #4776e6); */
    @apply bg-indigo-50;
    background: linear-gradient(to bottom left, #f0f6ff, #edf4ff);
  }

  .bg-dark {
    color: #e4e6eb;
    background: linear-gradient(to top right, #1a1a2e, #222831);
  }

  .primary-bg {
    /* background: linear-gradient(to right, #8e54e9, #4776e6); */
    color: #121212;
    @apply bg-slate-50 border border-slate-200;
  }

  .primary-bg-dark {
    color: #e4e6eb;
    /* background: linear-gradient(to left, #1A1A2E, #222831);
    background: #1A1A2E; */
    @apply bg-slate-700;
    border: 0;
  }
  .background {
    @apply rounded-lg primary-bg dark:primary-bg-dark;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply transition-all;
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply background;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border-radius: 3px;
  }
  .select-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .select-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }
  .select-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
    border: 3px solid #ffffff;
  }

  .animation-bg-gradient-1 {
    @apply rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5;
  }

  .fade-in-left {
    animation: fade-in-left-key 0.5s ease;
  }
  @keyframes fade-in-left-key {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
  }
  .disappear-after-2 {
    animation: fade-in-left-key 0.5s ease 2s;
  }
  @keyframes disappear-after-key {
    100% {
      opacity: 0;
    }
  }
  .fade-in-right {
    animation: fade-in-right-key 0.5s ease;
  }
  @keyframes fade-in-right-key {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
  }
}

body {
  @apply bg;
  @apply dark:bg-dark;
  @apply transition-colors;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9999;
}
